

 
<span class="points">Points:<%= story.points %> </span>
 <span class= "posted_at ">Posted <%= time_ago_in_words(story.created_at)%> ago.</span>
<span class="posted_by "> posted by: <%= story.user.name %></span>
