<div class="col-sm-1" class="follow_form">Voted On</div>
       <div class="col-5">

  Points: <%= story.points %>14<span class="title"><%= story.title %></span>
  <span class="url"><%= story.url %> </span>
  <span class="timestamp">
  Posted <%= time_ago_in_words(story.created_at)%> ago.
  </span>
</div>
</li>
</ul>