<% provide(:title, @story.title) %>

  <aside>
    <section>
  <%= render 'stories/story' %>


    </section>
  </aside>

<div class="col-sm-6">
<%= render 'microposts/form' %>


<h3>Comments <%= @story.microposts.count %></h3>

        <%= nested_microposts @story.microposts.arrange(order: :created_at) %>


  </div>