<% provide(:title, @story.title)%>

<div class="row">
  <aside class="span4">
    <section>
  <h1><%= @story.title %></h1>
      <%= @story.points%>
    </section>
  </aside>
    <div class="span8">
      <p> <%= @story.title %></p>


      </div>



    </div>